.navbar{
    min-height: 8vh;
    background: black;
    color:white;
}
@media all and (max-width: 640px){
    .nav-item a{
        color:black!important;
    }
    .nav-item a{
        color:white;
    }
    .nav-item a:hover{
        font-weight: bolder;
    }
    .navbar-collapse{
        background: #ffffff;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
    }
}