<div class="modal-header">
    <h4 class="modal-title">Add a member to your board</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body">
  <div class="row">
    <label for="example-text-input" class="col-4 col-form-label">Add member by Username</label>
    <div class="col-8">
      <input class="form-control" type="text" [(ngModel)]="memberUsername" value="{{memberUsername}}">
    </div>
  </div>
  <div class="row">
      <label for="example-text-input" class="col-4 col-form-label">Role</label>
      <div class="col-8">
        <select #selectedRole [(ngModel)]="role" value="Selected" class="form-control" placeholder="Story name...">
          <option selected="selected">{{role}}</option>
          <option value="2">Editor</option>
          <option value="3">Spectator</option>
        </select>
      </div>
    </div>
</div>
<div class="modal-body text-right">
    <ngb-alert *ngIf="alertMessage" type="danger" (close)="alertMessage = null">{{ alertMessage }}</ngb-alert>
    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
    <button type="button" class="btn btn-primary" (click)="addMember(selectedRole.value);">Add</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
<hr>
<div class="modal-body">
  <div class="row">
    <div class="col-12 text-center"><h6>Board Members</h6></div>
    <div class="col-12">
      <ul class="list-group">
        <li *ngFor="let scrumeUser of boardMembers;" class="list-group-item">
            <div *ngFor="let associatedBoard of scrumeUser.associatedBoards">
                <div class="row" *ngIf="associatedBoard.sboard.bId == boardId;">
                  <div class="col-4">{{scrumeUser.username}}</div>
                  <div class="col-4 text-right">{{associatedBoard.memberRole.roleType}}</div>
                  <div *ngIf="associatedBoard.memberRole.roleId != 1" class="col-4 text-right"><button (click)="deleteMe(associatedBoard.memberRole,associatedBoard.sboard,associatedBoard.boardMemberId)" type="button" class="btn btn-secondary">X</button></div>
                </div>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>