<div class="container">
  <div class="row" *ngIf="scrumUser != null"><!-- check if something is in the seubscription before adding to fields -->
    <div class="col-12"><div><h1 class="header-name">My Boards</h1></div></div>
    <div class="col-lg-4 col-md-6 col-sm-12"><a routerLink="/swimlane/1" class="card-link"><div class="board-card"><h4>Board name</h4></div></a></div>
    
    <div *ngFor="let board of scrumUser.associatedBoards" class="col-lg-4 col-md-6 col-sm-12">
      <a routerLink="/swimlane/{{board.sboard.bId}}" class="card-link">
        <div class="board-card"><h4>#{{board.sboard.bId}} {{board.sboard.bName}} {{board.memberRole.roleType}}</h4></div>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12"><div class="board-card create" (click)="add();"><h4>Create a new board</h4></div></div>
  </div>
</div>