<div class="container">
  <div class="row pt-5" *ngIf="scrumUser != null">
    <div class="col-12"><div><h1 class="header-name">My Boards</h1></div></div>
    <div *ngFor="let board of scrumUser.associatedBoards" class="col-lg-4 col-md-6 col-sm-12">
        
      <div routerLink="/swimlane/{{board.sboard.bId}}" class="card">
        <div class="card-body">
            <h4 class="card-title"> {{ board.sboard.bName }} </h4>
          <p class="card-text">{{ board.memberRole.roleType | lowercase }} </p>
          <div class="btn btn-primary" (click)="open(board, $event)">Edit Board</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <div routerLink="/home" class="card" id="create-new-board" (click)="openToAdd()">
          <div class="card-body">
            <h4 class="card-title">Create New Board</h4>
          </div>
        </div>
      </div>

  </div> <!--row-->
  
</div> <!--container-->

<!--  
  <div *ngFor="let board of scrumUser.associatedBoards" class="col-lg-4 col-md-6 col-sm-12">
    <div class="board-card"><h4>#{{board.sboard.bId}} {{board.sboard.bName}} {{board.memberRole.roleType}}</h4>
    </div>
  </div>
  
  <div class="col-lg-4 col-md-6 col-sm-12"><div class="board-card create" (click)="openToAdd()"><h4>Create a new board</h4></div></div> -->