.btn-primary {
	color: #fff;
	background-color: #0495c9;
	border-color: #357ebd; 
}
/*.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #00b3db;
	border-color: #285e8e;
}*/

.ng-valid[required], .ng-valid.required  {
	border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
	border-left: 5px solid #a94442; /* red */
}

.login-centered {
	margin: auto;
}