<!-- Get Swimlanes from current board and each swimlane's Stories -->
<section id="board-name">
  <h4>Board Name<input class="btn btn-primary float-right" type="button" value="Members"></h4>    
</section>

<section id="mobile-swimlanes">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
          <!-- Iterate through swimlanes -->
          <li *ngFor="let swimlane of swimlanes; let i = index" data-target="#myCarousel" [ngStyle]="setStyles(points[i])" [attr.data-slide-to]="i" [class]="i==0 ? 'active' : ''">{{points[i]}}</li>
        </ol>
        <div class="carousel-inner" >
            <div *ngFor="let swimlane of swimlanes; let i = index" [class]="i==0 ? 'carousel-item active' : 'carousel-item'">
              <div class="container" >
                <h1>{{swimlane.name}}</h1>
                <div class="story-container">
                  <!-- Send stories from current iteration of swimlane -->
                    <app-stories [lane]="swimlane.stories" [userid]="1" ></app-stories>
                </div>
                <div class="add-story"><input class="btn btn-primary" type="button" value="Add a Story"></div>
              </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</section>
<section id="scrum-container">
<div class="row swimlanes">
<!-- Iterate through swimlanes -->
<div class="float-md-left lane" *ngFor="let swimlane of swimlanes">
  <div class="swimlane">
    <h6>{{swimlane.name}}</h6>
      <div class="story-container">
        <!-- Send stories from current iteration of swimlane -->
        <app-stories [lane]="swimlane.stories"></app-stories>        
      </div>
    <div class="add-story"><input class="btn btn-primary" type="button" value="Add a Story"></div>
  </div>
</div>
<div class="float-md-left lane">
    <div class="create swimlane">
      <h6>Create new swimlane...</h6>
    </div>
  </div>
</div>
</section>