<div class="modal-header">
  <h4 class="modal-title">Swimlane</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="swimlane != null; then viewSwimLane else createSwimLane"></div>
<ng-template #viewSwimLane>
  <div class="modal-body">
    <p><textarea>{{swimlane.slName}}</textarea></p>
    <div class="row">
      <div class="col-md-6">Move position <select>

      </select></div>
      </div>      
  </div>
</ng-template>

<ng-template #createSwimLane>
  <div class="modal-body">
    <p><textarea [(ngModel)]="swimLaneName" placeholder="Swimlane name...">{{swimLaneName}}</textarea></p>
    <span></span>   
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save();activeModal.close('Close click');">Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
  
</ng-template>


