
<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="story != null; then viewStory else createStory"></div>
<ng-template #viewStory>
  <div class="modal-body">
    <p><textarea>{{story.storyName}}</textarea></p>
    <div class="row">
      <div *ngFor="let task of story.tasks">
        <p>{{task.taskDescription}}</p>
      </div>
      <div class="col-md-6">Move to swimlane <select>

      </select></div>
      <div class="col-md-6">Move position <select>

      </select></div>
      </div>      
  </div>
</ng-template>
<ng-template #createStory>
  <div class="modal-body">
      <p><textarea #storyName placeholder="Story name..."></textarea></p>     
    </div>
  </ng-template>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
