/* You can add global styles to this file, and also import other style files */
.material-icons{
    font-size: 12px!important;
    min-width: 50px!important;
}
/*board name*/
#board-name{
    min-height: 8vh;
    padding: 10px;
    background: grey;
}
@media all and (max-width: 768px){

    body{
        /* overflow: hidden; */
        background: black;
    }
}