/* You can add global styles to this file, and also import other style files */
body{
    background: grey;
}
/*Buttons*/
.btn-primary{
    background: black;
    border:1px solid white;
}
.btn-primary:hover{
    background: white;
    color:black;
    border:1px solid white;
}
.btn-primary:active{
    background-color:silver!important;
    border-color: black!important;
}
.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.btn-outline-dark{
    color:rgb(145, 145, 145)!important;
    border-color: rgb(145, 145, 145)!important;
}

.material-icons{
    font-size: 12px!important;
}
/*board name*/
#board-name{
    min-height: 8vh;
    padding: 10px;
    background: grey;
}
@media all and (max-width: 768px){

    body{
        /* overflow: hidden; */
        background: black;
    }
}